[submodule "pack/dist/start/fuzzyy"]
	path = pack/dist/start/fuzzyy
	url = https://github.com/Donaldttt/fuzzyy.git
[submodule "pack/dist/start/vim-airline"]
	path = pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/dist/start/vim-floaterm"]
	path = pack/dist/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule "pack/dist/start/vim-commentary"]
	path = pack/dist/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/dist/start/vim-cpp-modern"]
	path = pack/dist/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
[submodule "pack/dist/start/vim-renamer"]
	path = pack/dist/start/vim-renamer
	url = https://github.com/qpkorr/vim-renamer.git
[submodule "pack/dist/start/python-syntax"]
	path = pack/dist/start/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "pack/dist/start/coc.nvim"]
	path = pack/dist/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/dist/start/vim-surround"]
	path = pack/dist/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "pack/dist/start/vim-repeat"]
	path = pack/dist/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
